[submodule ".scm_breeze"]
	path = .scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
